
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background: rgba(10, 10, 128, 0.829);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
