* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.58;
  color: #333;
  background: #083c72;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter.ttf);
}
